body{
    background-color: darkgray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
}
shade{
    background-color: white;
}
img{

    grid-column: 1/2;
    grid-row: 1/4;
}
h1{
    grid-column: 1/3;
    grid-row: 1/3;
    font-size: 10em;
    text-align: center;
}
h2{
    color: darkred;
    letter-spacing: 1em;
    grid-column: 2/3;
    grid-row: 4/4;
}

