.grid{ 
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 2fr));
    grid-template-rows: repeat(2, minmax(150px, 2fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
body{
    background-color: #62c182;
}
.header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background-color: #62c182;
    color: #f1f1f1;
  }
h1{
 color:#341539;
}
h2{
color:rgb(168, 98, 193)
}
.player {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Grid Items */
.grid-item {
    text-align: center;
    background-color: #341539;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Image Styling */
.grid-item img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

/* Text Styling */
.grid-item p {
    margin-top: 10px;
    color: #333;
}